*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 32px;
}
#main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
}
#top-container{
    padding-top: 2vh;
}
#calculator-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 450px;
    height: 700px;

    border: 2px solid black;
}
#display-container{
    width: 400px;
    height: 160px;
}
#zero{
    flex-grow: 2;
}
.btn{
    width: 100px;
    height: 100px;
    user-select: none;

    border: 2px solid black;
}
.row-container{
    display: flex;
}